body{
    display:flex;
    background-image: url(img/bg.jpg);
    background-size: cover;
    width: 95vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.chat{
    background-color: rgba(255,255,255,.7);
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chat input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid pink;
    padding: 5px 10px;
    margin-right: 10px;
    color: grey;
}

.chat button{
    padding: 15px 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #5d5b78;
    font-weight: bold;
    color: #fff;
}

.chat buutton i{
    font-size: 14pt;
}

.chat.dialogs-block{
    align-items: start;
    width: 70%;
    height: 70%;
}

.members{
    padding: 20px;
    width: 400px;
}

.members > .member{
    display:flex;
    padding: 5px;
    align-items: center;
}

.members .counter{
    color: #fff;
    background-color: limegreen;
    width: 25px;
    height: 20px;
    text-align: center;
    margin-left: 5px;
}

.messages{
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

.chat .control-dialog{
    position: absolute;
    bottom: -70px;
    right: 0;
}

.incoming, .outcome{
    margin-top: 10px;
    padding: 5px;
}

.incoming{
    background-color: linen;
    margin-right: 10px;
}

.outcome{
    text-align: right;
    margin-right: 10px;
}

.name{
    font-weight: bold;
}

#message{
    width: 500px;
}